$width: 960px
$headerHeight: 126px

// Colors
$red: #87000D
$red-light: #A90010
$red-light2: #98000F
$red-dark: #640009
$red-dark2: #75000A
$grey94: #F1F1F1
$orange: rgb(200, 42, 30)
$green: #3A9B28
$cornflowerblue: #6495ed

// Fonts
$mainFont: Arial
$fallBackFonts: sans-serif

//  ===========
//  = Z-Index =
//  ===========
$zindex_headerContainer: 11

$zindex_navAccount: 14
$zindex_navAccount__Dropdown: 13
$zindex_socialbuttons: 12

$zindex_menuNavigation: 13
$zindex_menuNavigationTooltips: 10
$zindex_menuNavigationDropdown: 10
